<h1>Material - Botton</h1>
<button md-raised-button color="primary">PRIMARY</button>
<button md-raised-button color="accent">ACCENT</button>
<button md-raised-button color="warn">WARN</button>
<button md-button>FLAT</button>


<!--<md-sidenav-layout>-->
    <!--<md-sidenav #start (open)="mybutton.focus()">-->
        <!--Start Sidenav.-->
        <!--<br>-->
        <!--<button md-button #mybutton (click)="start.close()">Close</button>-->
    <!--</md-sidenav>-->
    <!--<md-sidenav #end align="end">-->
        <!--End Sidenav.-->
        <!--<button md-button (click)="end.close()">Close</button>-->
    <!--</md-sidenav>-->
    <!--<h2 (click)="test()">Trans: {{ trans.get('hello_world') }}</h2>-->
    <!---->
    <!--<md-card>-->
        <!--<md-card-title-group>-->
            <!--<img md-card-sm-image src="path/to/img.png">-->
            <!--<md-card-title>Card with title</md-card-title>-->
            <!--<md-card-subtitle>Subtitle</md-card-subtitle>-->
        <!--</md-card-title-group>-->
    <!--</md-card>-->
<!--</md-sidenav-layout>-->